<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Full name:</strong>
  <%= @user.full_name %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @user.bio %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Profile image:</strong>
  <%= @user.profile_image %>
</p>

<p>
  <strong>Projects:</strong>
  <% @user.projects.each do |project| %>
  <%= link_to project.name, project %>
  <% end %>
</p>



<%= link_to 'All Projects', projects_path %> |
<%= link_to 'Add Project', new_project_path %> |
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
