<p id="notice"><%= notice %></p>

<h1>Artist Projects</h1>

<%= search_form_for @search do |f| %>
<div class="field">
  <%= f.label :name_or_category_or_style_cont, "Name contains" %>
  <%= f.text_field :name_or_category_or_style_cont %>
</div>
<div class="actions"><%= f.submit "Search" %></div>
<% end %>

<%= link_to "Clear Search", request.path, class:"cancel-button" %>


<% @projects.each do |project| %>
<h4><%= link_to project.name, project %><br>
  Submitted <%= time_ago_in_words(project.created_at) %> 
  by <%= project.user.email %>
</h4>

<%= link_to like_link_path(project), method: :put do %>
Upvote
<%= project.get_upvotes.size %>
<% end %>


<% end %>


<table border="1">
  <thead>
    <tr>
      <th>Name</th>
      <th>Date created</th>
      <th>Info</th>
      <th>Category</th>
      <th>Style</th>
      <th>Location</th>
      <th>Video url</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
    <tr>
      <td><%= project.name %></td>
      <td><%= project.date_created %></td>
      <td><%= project.info %></td>
      <td><%= project.category %></td>
      <td><%= project.style %></td>
      <td><%= project.location %></td>
      <td><iframe src="https://www.youtube.com/embed/<%= project.video_url%>" frameborder="0" width = "140" height="80"></iframe></td>
      <td><%= image_tag project.image_url(:thumb) %></td>
      <td><%= link_to 'Show', project %></td>
      <td><%= link_to 'Edit', edit_project_path(project) %></td>
      <td><%= link_to 'Delete', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path %>



