<div class="jumbotron artist">
<div class="form1 large">
 
    <div class="panel-heading large"><h1>Project</h1><br><br></div>
    <br>
    <div class="panel panel-primary large">
    <table class="table">
      <div class="row">
    <br>  
  <div class="form-control large">   
  <strong>Name:</strong>
  <%= @project.name %>
</div>
<br>

<div class="form-control">
  <strong>Date created:</strong>
  <%= @project.date_created %>
</div>
<br>

<div class="bio_text large">
  <strong>Info:</strong>
  <%= @project.info %>
</div>
<br>

<div class="form-control large">
  <strong>Location:</strong>
  <%= @project.location %>
</div>
<br>

<div class="bio_text large">
  <strong>Video url:</strong>
  <br>
  <iframe src="https://www.youtube.com/embed/<%= @project.video_url%>" frameborder="0" width = "560" height="315"></iframe>
</div>
<br>

<div class="bio_text large">
  <strong>Image:</strong>
  <br>
  <%= image_tag @project.image_url(:detail).to_s, class: "img-rounded" %>
</div>
<br>


<div class="form-control large">
  <strong>Style:</strong>
  <%= @project.style %>
</div>
<br>

<div class="form-control large">
  <strong>Category:</strong>
  <%= @project.category %>
</div>
<br>

<br>
<div class="text_links">

<%= link_to 'All Projects', projects_path %> |
<%= link_to 'Add Project', new_project_path %> |
<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
<br>
<br>
</div>
</div>
</table>
