<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Date created:</strong>
  <%= @project.date_created %>
</p>

<p>
  <strong>Info:</strong>
  <%= @project.info %>
</p>

<p>
  <strong>Location:</strong>
  <%= @project.location %>
</p>

<p>
  <strong>Video url:</strong>
  <br>
  <iframe src="https://www.youtube.com/embed/<%= @project.video_url%>" frameborder="0" width = "560" height="315"></iframe>
</p>

<p>
  <strong>Image:</strong>
  <br>
  <%= image_tag @project.image_url(:detail).to_s %>
</p>


<p>
  <strong>Style:</strong>
  <%= @project.style %>
</p>
<p>
  <strong>Category:</strong>
  <%= @project.category %>

</p>

<br>
<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>


%= image_tag image.image_url(:thumb) %>