<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Date created:</strong>
  <%= @project.date_created %>
</p>

<p>
  <strong>Info:</strong>
  <%= @project.info %>
</p>

<p>
  <strong>Location:</strong>
  <%= @project.location %>
</p>

<p>
  <strong>Video url:</strong>
  <%= @project.video_url %>
</p>

<p>
  <strong>Image:</strong>
  <%= @project.image %>
</p>

<p>
<strong>Style:</strong>
<%= @project.style %>
</p>
<p>
<strong>Category:</strong>
<%= @project.category %>
</p>

<br>
<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
